<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy;<%=link_to "PlinaW", "https://github.com/PlinaW", :class => "text-white-50"%></small>
  </div>
</footer>
